@font-face {
  font-family: "Apercu Mono";
  src: url("//db.onlinewebfonts.com/t/b7a6aa84ad371cd47f36d433b5aa7e61.eot");
  src: url("//db.onlinewebfonts.com/t/b7a6aa84ad371cd47f36d433b5aa7e61.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b7a6aa84ad371cd47f36d433b5aa7e61.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b7a6aa84ad371cd47f36d433b5aa7e61.woff") format("woff"), url("//db.onlinewebfonts.com/t/b7a6aa84ad371cd47f36d433b5aa7e61.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b7a6aa84ad371cd47f36d433b5aa7e61.svg#Apercu") format("svg");
}

* {
  font-family: "Apercu Mono";
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --invis-text: #14354f;
  --primary-back: #283258;
}

body {
  background-color: var(--primary-back);
}

.first-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden-text {
  position: absolute;
  left: 0;
  top: 0;
  color: #283258;
  margin: 20px;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  font-size: 60px !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.first-section h1 {
  font-size: 4.5vw;
}

.func {
  color: #f4c66a;
}

.quote {
  color: #87dbfe;
}

.hello {
  color: #947fe2;
}

.info-box1 {
  border: 3px solid purple;
}

.second-section {
  height: 93vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-section h2 {
  font-size: 3vw;
  color: #87dbfe;
}

.you {
  color: #f4c66a;
}

.code {
  color: #947fe2;
}

.row-container {
  width: 70%;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hvorfor-card {
  width: 450px;
  margin: 20px;
  padding: 30px;
  -webkit-box-shadow: inset 0px 0px 31px -10px black;
  box-shadow: inset 0px 0px 31px -10px black;
  border-radius: 7px;
  -webkit-animation: shadowFadeOut 0.4s;
          animation: shadowFadeOut 0.4s;
}

.hvorfor-card h3 {
  font-size: 20px;
  padding: 5px 10px 10px 10px;
  color: #f4c66a;
}

.hvorfor-card p {
  color: #87dbfe;
}

.hvorfor-card:hover {
  -webkit-box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
  -webkit-animation: shadowFadeIn 0.4s;
          animation: shadowFadeIn 0.4s;
}

@media only screen and (max-width: 1200px) {
  .first-section h1 {
    font-size: 6.5vw;
  }
  .second-section h2 {
    font-size: 4.4vw;
  }
  .row-container {
    width: 95%;
  }
}

@media only screen and (max-width: 1580px) {
  .hvorfor-card {
    width: 100%;
  }
}

@-webkit-keyframes shadowFadeIn {
  0% {
    -webkit-box-shadow: inset 0px 0px 31px -10px black;
    box-shadow: inset 0px 0px 31px -10px black;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
  }
}

@keyframes shadowFadeIn {
  0% {
    -webkit-box-shadow: inset 0px 0px 31px -10px black;
    box-shadow: inset 0px 0px 31px -10px black;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes shadowFadeOut {
  0% {
    -webkit-box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 31px -10px black;
    box-shadow: inset 0px 0px 31px -10px black;
  }
}

@keyframes shadowFadeOut {
  0% {
    -webkit-box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 31px -10px black;
    box-shadow: inset 0px 0px 31px -10px black;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222947;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #947fe2;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6955b4;
}
/*# sourceMappingURL=style.css.map */