*{
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body{
    display: flex;
    height: 200vh;
    flex-direction: column;
    align-items: center;
}

.container1{
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.overskrift{
    font-size: 13vw;

}
.container2{
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
}
.square{
    height: 20%;
    width: 200px;
    flex: 1;
    background: orange;
}


